In [1]:
import random
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import esda
import libpysal.weights as weights
from esda.moran import Moran
from shapely.geometry import Point, MultiPoint, LineString, Polygon, shape
import json
import pylab
import libpysal
import numpy as np
from sklearn.metrics.cluster import adjusted_rand_score
from sklearn.metrics import f1_score
from pyclustering.cluster.cure import cure
from pyclustering.cluster.kmeans import kmeans
from pyclustering.cluster.center_initializer import kmeans_plusplus_initializer
from sklearn import preprocessing

In [2]:
def permutation(lst):
    if len(lst) == 0:
        return []

    if len(lst) == 1:
        return [lst]

    l = []
    for i in range(len(lst)):
        m = lst[i]
        remLst = lst[:i] + lst[i+1:]
        for p in permutation(remLst):
            l.append([m] + p)       
    return l

In [3]:
def get_f1_score(df, permut):
    def match_clus(x, permut):
        if x == 0:
            return int(permut[0])
        elif x == 1:
            return int(permut[1])
        else:
            return x

    df["group_match"] = df["group"].apply(lambda x: match_clus(x, permut))
    return df, f1_score(df.group_match.values, df.clus_group_gt.values, average='macro')

In [4]:
def get_max_f1_score(df):
    max_f1 = 0
    max_p = []
    for p in permutation([3,4]):
        df, f1 = get_f1_score(df, p)
        if max_f1 < f1:
            max_f1 = f1
            max_p = p
    print("f1_score ", max_f1, max_p)

In [5]:
def cal_joint_statistic(nyc_data, w_voronoi):
    matched_connects = 0
    all_neighbors_connects = 0
    for obj_id, neighbors in w_voronoi.neighbors.items():
        obj_clus = nyc_data.iat[obj_id, -1]
        for nei in neighbors:
            nei_clus = nyc_data.iat[nei, -1]
            all_neighbors_connects += 1
            if obj_clus == nei_clus:
                matched_connects += 1
    return matched_connects / all_neighbors_connects

# Processing NYC Check-in Data

In [7]:
nyc_check_in = gpd.read_file('data/nyc_checkin.shp',engine='pyogrio')
nyc_check_in.head(1)

,venueId,userId,gender,friend_num,follow_num,latitude,longitude,venueCateg,week,hour,geometry
0,3fd66200f964a52000e71ee3,445,male,4.0,13.0,40.73385,-74.002998,Jazz Club,Sat,8,POINT (-74.00300 40.73385)

In [8]:
nyc_check_in.groupby("venueCateg").count().sort_values("venueId").tail(1)

,venueId,userId,gender,friend_num,follow_num,latitude,longitude,week,hour,geometry
venueCateg,,,,,,,,,,
Subway,10042,10042,10042,10042,10042,10042,10042,10042,10042,10042

In [9]:
venueCateg_list = ["Office", "Home (private)"]
venueId_list = pd.DataFrame(nyc_check_in.venueId.unique()).sample(frac=0.5).values.squeeze()
nyc_check_sticc = nyc_check_in[(nyc_check_in.venueCateg.isin(venueCateg_list))&(nyc_check_in.venueId.isin(venueId_list))]
print(nyc_check_sticc.shape)
nyc_check_sticc.head(1)

(8112, 11)

,venueId,userId,gender,friend_num,follow_num,latitude,longitude,venueCateg,week,hour,geometry
9969,42b9fb80f964a5209b251fe3,654,male,103.0,46.0,40.752933,-73.973537,Office,Fri,13,POINT (-73.97354 40.75293)

In [10]:
def return_week(x):
    if x == "Mon":
        return 1
    elif x == "Tue":
        return 2
    elif x == "Wed":
        return 3
    elif x == "Thu":
        return 4
    elif x == "Fri":
        return 5
    elif x == "Sat":
        return 6
    elif x == "Sun":
        return 7
    
def return_category(x):
    if x == "Gym":
        return 1
    elif x == "Coffee Shop":
        return 2
    elif x == "Office":
        return 3
    elif x == "Home (private)":
        return 4
    elif x == "Subway":
        return 5

nyc_check_sticc["week_attr"] = nyc_check_sticc["week"].apply(lambda x: return_week(x))
nyc_check_sticc["category"] = nyc_check_sticc["venueCateg"].apply(lambda x: return_category(x))
nyc_check_sticc = nyc_check_sticc.reset_index().drop("index", axis=1)

/root/miniconda3/lib/python3.8/site-packages/geopandas/geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/root/miniconda3/lib/python3.8/site-packages/geopandas/geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [11]:
nyc_check_sticc.head(1)

,venueId,userId,gender,friend_num,follow_num,latitude,longitude,venueCateg,week,hour,geometry,week_attr,category
0,42b9fb80f964a5209b251fe3,654,male,103.0,46.0,40.752933,-73.973537,Office,Fri,13,POINT (-73.97354 40.75293),5,3

In [12]:
kd = libpysal.cg.KDTree(np.array(nyc_check_sticc[["latitude", "longitude"]].values))
wnn = libpysal.weights.KNN(kd, 3)

/root/miniconda3/lib/python3.8/site-packages/libpysal/weights/weights.py:224: UserWarning: The weights matrix is not fully connected:
 There are 174 disconnected components.
  warnings.warn(message)

In [13]:
nearest_pt = pd.DataFrame().from_dict(wnn.neighbors, orient="index")
for i in range(nearest_pt.shape[1]):
    nearest_pt = nearest_pt.rename({i:f"n_pt_{i}"}, axis=1)
nearest_pt.head(1)

   n_pt_0  n_pt_1  n_pt_2
0      10      19       1

In [14]:
nyc_check_sticc = nyc_check_sticc.join(nearest_pt)
nyc_check_sticc.head(1)

,venueId,userId,gender,friend_num,follow_num,latitude,longitude,venueCateg,week,hour,geometry,week_attr,category,n_pt_0,n_pt_1,n_pt_2
0,42b9fb80f964a5209b251fe3,654,male,103.0,46.0,40.752933,-73.973537,Office,Fri,13,POINT (-73.97354 40.75293),5,3,10,19,1

In [15]:
nyc_check_sticc[["week_attr", "hour", "n_pt_0", 
                 "n_pt_1", "n_pt_2"]].to_csv(r'nyc_checkin.txt', header=None, index=True, sep=',')

In [16]:
w_voronoi = weights.Voronoi.from_dataframe(nyc_check_sticc)

/root/miniconda3/lib/python3.8/site-packages/libpysal/cg/alpha_shapes.py:581: UserWarning: Numba not imported, so alpha shape construction may be slower than expected.
  warn(NUMBA_WARN)
/root/miniconda3/lib/python3.8/site-packages/libpysal/weights/contiguity.py:641: FutureWarning: `use_index` defaults to False but will default to True in future. Set True/False directly to control this behavior and silence this warning
  return cls.from_dataframe(region_df, **kwargs)

# STICC

In [17]:
!python STICC_main.py --fname=nyc_checkin.txt --oname=result_nyc_checkin.txt --attr_idx_start=1 \
--attr_idx_end=2 --spatial_idx_start=3 --spatial_idx_end=5 \
--spatial_radius 4 --number_of_clusters 2 --lambda_parameter 10e-2 --beta 5 --maxIters 20

lam_sparse 0.1
switch_penalty 5.0
num_cluster 2
num stacked 4
completed getting the data
2 (8112, 2) (8112, 3)



ITERATION ### 0
OPTIMIZATION for Cluster # 0 DONE!!!
OPTIMIZATION for Cluster # 1 DONE!!!
length of the cluster  0 ------> 5479
length of the cluster  1 ------> 2633
UPDATED THE OLD COVARIANCE
beginning the smoothening ALGORITHM
length of cluster # 0 --------> 5311
length of cluster # 1 --------> 2801







ITERATION ### 1
OPTIMIZATION for Cluster # 0 DONE!!!
OPTIMIZATION for Cluster # 1 DONE!!!
length of the cluster  0 ------> 5311
length of the cluster  1 ------> 2801
UPDATED THE OLD COVARIANCE
beginning the smoothening ALGORITHM
length of cluster # 0 --------> 4607
length of cluster # 1 --------> 3505







ITERATION ### 2
OPTIMIZATION for Cluster # 0 DONE!!!
OPTIMIZATION for Cluster # 1 DONE!!!
length of the cluster  0 ------> 4607
length of the cluster  1 ------> 3505
UPDATED THE OLD COVARIANCE
beginning the smoothening ALGORITHM
length of cluster # 0 --------> 4222
length of cluster # 1 --------> 3890







ITERATION ### 3
OPTIMIZATION for Cluster # 0 DONE!!!
OPTIMIZATION for Cluster # 1 DONE!!!
length of the cluster  0 ------> 4222
length of the cluster  1 ------> 3890
UPDATED THE OLD COVARIANCE
beginning the smoothening ALGORITHM
length of cluster # 0 --------> 4037
length of cluster # 1 --------> 4075







ITERATION ### 4
OPTIMIZATION for Cluster # 0 DONE!!!
OPTIMIZATION for Cluster # 1 DONE!!!
length of the cluster  0 ------> 4037
length of the cluster  1 ------> 4075
UPDATED THE OLD COVARIANCE
beginning the smoothening ALGORITHM
length of cluster # 0 --------> 3935
length of cluster # 1 --------> 4177







ITERATION ### 5
OPTIMIZATION for Cluster # 0 DONE!!!
OPTIMIZATION for Cluster # 1 DONE!!!
length of the cluster  0 ------> 3935
length of the cluster  1 ------> 4177
UPDATED THE OLD COVARIANCE
beginning the smoothening ALGORITHM
length of cluster # 0 --------> 3874
length of cluster # 1 --------> 4238







ITERATION ### 6
OPTIMIZATION for Cluster # 0 DONE!!!
OPTIMIZATION for Cluster # 1 DONE!!!
length of the cluster  0 ------> 3874
length of the cluster  1 ------> 4238
UPDATED THE OLD COVARIANCE
beginning the smoothening ALGORITHM
length of cluster # 0 --------> 3839
length of cluster # 1 --------> 4273







ITERATION ### 7
OPTIMIZATION for Cluster # 0 DONE!!!
OPTIMIZATION for Cluster # 1 DONE!!!
length of the cluster  0 ------> 3839
length of the cluster  1 ------> 4273
UPDATED THE OLD COVARIANCE
beginning the smoothening ALGORITHM
length of cluster # 0 --------> 3825
length of cluster # 1 --------> 4287







ITERATION ### 8
OPTIMIZATION for Cluster # 0 DONE!!!
OPTIMIZATION for Cluster # 1 DONE!!!
length of the cluster  0 ------> 3825
length of the cluster  1 ------> 4287
UPDATED THE OLD COVARIANCE
beginning the smoothening ALGORITHM
length of cluster # 0 --------> 3823
length of cluster # 1 --------> 4289







ITERATION ### 9
OPTIMIZATION for Cluster # 0 DONE!!!
OPTIMIZATION for Cluster # 1 DONE!!!
length of the cluster  0 ------> 3823
length of the cluster  1 ------> 4289
UPDATED THE OLD COVARIANCE
beginning the smoothening ALGORITHM
length of cluster # 0 --------> 3821
length of cluster # 1 --------> 4291







ITERATION ### 10
OPTIMIZATION for Cluster # 0 DONE!!!
OPTIMIZATION for Cluster # 1 DONE!!!
length of the cluster  0 ------> 3821
length of the cluster  1 ------> 4291
UPDATED THE OLD COVARIANCE
beginning the smoothening ALGORITHM
length of cluster # 0 --------> 3821
length of cluster # 1 --------> 4291








CONVERGED!!! BREAKING EARLY!!!
[0.0000 0.0000 1.0000 ... 0.0000 0.0000 0.0000]

In [18]:
group = pd.read_table('result_nyc_checkin.txt', names=["group"])
result_nyc_check_sticc = nyc_check_sticc.join(group)
result_nyc_check_sticc = result_nyc_check_sticc.rename({"category": "clus_group_gt"}, axis=1)
print("Adjusted rand score", adjusted_rand_score(result_nyc_check_sticc["group"].values, 
                                                 result_nyc_check_sticc.clus_group_gt.values))
sp_contiguity = cal_joint_statistic(result_nyc_check_sticc, w_voronoi)
print("Spatial contiguity: ", sp_contiguity)
get_max_f1_score(result_nyc_check_sticc)

Adjusted rand score 0.4242087225753934
Spatial contiguity:  0.837137620793069
f1_score  0.8246460762004082 [3, 4]

In [19]:
result_nyc_check_sticc.head()

,venueId,userId,gender,friend_num,follow_num,latitude,longitude,venueCateg,week,hour,geometry,week_attr,clus_group_gt,n_pt_0,n_pt_1,n_pt_2,group,group_match
0,42b9fb80f964a5209b251fe3,654,male,103.0,46.0,40.752933,-73.973537,Office,Fri,13,POINT (-73.97354 40.75293),5,3,10,19,1,0,4
1,42b9fb80f964a5209b251fe3,23939,male,1460.0,1908.0,40.753020,-73.973083,Office,Mon,8,POINT (-73.97308 40.75302),1,3,4546,5,4549,0,4
2,42b9fb80f964a5209b251fe3,23939,male,1460.0,1908.0,40.752521,-73.971642,Office,Tue,8,POINT (-73.97164 40.75252),2,3,9,17,7,1,3
3,42b9fb80f964a5209b251fe3,23939,male,1460.0,1908.0,40.752672,-73.972431,Office,Thu,20,POINT (-73.97243 40.75267),4,3,11,20,15,0,4
4,42b9fb80f964a5209b251fe3,23939,male,1460.0,1908.0,40.752881,-73.971938,Office,Thu,8,POINT (-73.97194 40.75288),4,3,15,9,20,1,3

In [20]:
from shapely.geometry import Point

df = result_nyc_check_sticc
# 将经纬度列转换为 Shapely Point 对象
geometry = [Point(xy) for xy in zip(df['longitude'], df['latitude'])]

# 创建 GeoDataFrame
gdf = gpd.GeoDataFrame(df, geometry=geometry)

# 设置 CRS (假设使用 WGS84 坐标系)
gdf.set_crs('EPSG:4326', allow_override=True, inplace=True)

# 保存为 Shapefile
gdf.to_file("sticc_result.shp")

/tmp/ipykernel_37516/1822996942.py:14: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf.to_file("sticc_result.shp")

In [23]:
from sklearn.metrics.cluster import adjusted_rand_score, normalized_mutual_info_score
from utils import cluster_acc  # 假设 cluster_acc 是自定义函数，已按需求提供

# 假设 category 是真实标签，subcluster 是预测标签
category = result_nyc_check_sticc["group"].values # 真实标签
subcluster = result_nyc_check_sticc.clus_group_gt.values  # 聚类后的标签

# 计算 ACC
acc = cluster_acc(category, subcluster)

# 计算 NMI
nmi = normalized_mutual_info_score(category, subcluster)
# 计算 ARI
ari = adjusted_rand_score(category, subcluster)
print('acc: '+str(acc))
print('nmi: '+str(nmi))
print('ari: '+str(ari))

acc: 0.8256903353057199
nmi: 0.3316529476591471
ari: 0.4242087225753934